@media screen and (max-width: 1200px) {
    .header img{
        height: 17em;
    }
    .intro{
        flex-direction: column;
        height: 45em;
    }
    .leftintro{
        order: 2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .rightintro{
        order: 1;
        margin-left: auto;
        margin-right: auto;
    }
    .bigsurprise{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25em;
    }
    .carImg,
    .carP{
        position: absolute;
        text-align: center;
    }
    .carImg{
        opacity: 0.2;
    }
    .carP{
        width: 30rem;
    }
    .options{
        height: 75em;
    }
    .optionsrow{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .optionscourse{
        margin-bottom: 10px;
    }
    .myself{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 37em;
    }
    .myselfImg,
    .description{
        position: absolute;
        text-align: center;
    }
    .myselfImg{
        opacity: 0.3;
    }
    .description{
        text-shadow: 1px 1px black;
    }
    .contents{
        height: 38em;
    }
    .boxImg{
        display: none;
    }
    .bonus{
        height: 115em;
    }
    .bonus h2{
        font-size: 3em;
        padding-right: auto;
        padding-left: auto;
    }
    .bonuslist{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .bonus1,
    .bonus2{
        padding-bottom: 30px;
    }
    .feedback{
        height: 95em;
    }
    .feedbackrow h2{
        font-size: 2.5em;
    }
    .videofeedback{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .videofeedback iframe{
        margin-bottom: 30px;
    }
    .footer img{
        height: 12em;
    }
}
@media screen and (max-width: 930px){
    .price{
        height: 40em;
    }
    .price h2{
        font-size: 90px;
    }
    .price h3{
        font-size: 30px;
    }
    .price img{
        height: 12rem;
    }
}

@media screen and (max-width: 830px){
    .leftcontents{
        text-align: right;
    }
}

